# CONFIGURAÇÕES DA API
PORT=1350
NODE_ENV=development

# CONFIGURAÇÕES DO BANCO DE DADOS
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aplicativo_atividades_fisicas

# CONFIGURAÇÕES DO POSTGRES
POSTGRES_DB=aplicativo_atividades_fisicas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

BETTER_AUTH_SECRET=

BETTER_AUTH_URL=

# CONFIGURACOES DE UPLOAD (S3/GARAGEHQ)
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_FOTOS=
MINIO_PUBLIC_URL=
MINIO_LOCAL=false

# LIMITE MAXIMO (MB) PARA CADA ARQUIVO
UPLOAD_MAX_FILE_SIZE_MB=20